/node_modules
/public/hot
/public/storage
/storage/evidencias
/storage/normativas
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.vscode
/public_html/soportes
/public_html/images/profile
/public_html/js


/vendor-old
/vendor-local
/vendor-prod
